.MatchResource {
    padding-top: 20px;
}

.Title {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.loading {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 20px;
}

.MatchDescriptionItems {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--text);
    box-shadow: var(--shadow);
}

.MatchDescriptionItems:hover {
    box-shadow: var(--shadow-hover)
}

.MatchDescriptionItems h3 {
    margin: 0;
}

@media (max-width: 576px) {
    .Title {
        /* Переписывается стиль библиотеки ant design */
        font-size: 30px!important;
    }
}