.CompetitionList {
    padding-top: 5px;
}

.Cards {
    text-align: center;
}

.CardImg {
    width: 369px;
    height: 199px;
    object-fit: contain;
    object-position: center;
}

.PaginationRow {
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    .CardImg {
        width: 100%;
        height: 100%;
        max-height: 303px;
    }
}

@media (max-width: 992px) {
    .CardImg {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .CardImg {
        width: 100%;
    }
}