.CompetitionList {
    padding-top: 5px;
}

.Cards {
    text-align: center;
}

.Card {
    height: 150px;
}

.Meta {
    padding-top: 30px;
}

.PaginationRow {
    padding-top: 30px;
    padding-bottom: 20px;
}