.SearchBar {
    padding-bottom: 20px;
}

.searchInput {
    width: 300px;
    padding: 5px 36px 5px 10px;
    border: none;
    border-radius: 2px;
    box-shadow: var(--shadow);
    outline: none;
}

.searchInput:hover {
    box-shadow: var(--shadow-hover);
}

.autocomplete {
    position: absolute;
    left: 0;
    top: 40px;
    max-height: 240px;
    height: auto;
    overflow: auto;
    width: 300px;
    background: var(--text);
    box-shadow: var(--shadow);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.autocompleteItem {
    padding: 10px;
}

.autocompleteItem:hover {
    background: var(--divider-color);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .1s all;
}

.clearIcn {
    position: relative;
    top: 0;
    right: 36px;
    color: var(--third-text);
    font-size: 16px;
}

.searchIcn {
    position: relative;
    top: 2px;
    right: 26px;
    color: var(--third-text);
    font-size: 18px;
}

@media (max-width: 371px) {
    .searchInput {
        width: 100%;
        padding-right: 31px;
    }

    .autocomplete {
        width: 100%;
    }

    .clearIcn {
        top: -32px;
        left: 89%;
    }

    .searchIcn {
        display: none;
    }
}