.SearchBar {
    padding-bottom: 20px;
}

.searchInput {
    width: 300px;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
    outline: none;
}

.searchInput:hover {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 6px 16px 0 rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.09);
}

.autocomplete {
    position: absolute;
    left: 0;
    top: 40px;
    max-height: 240px;
    height: auto;
    overflow: auto;
    width: 300px;
    background: var(--text);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.autocompleteItem {
    padding: 10px;
}

.autocompleteItem:hover {
    background: var(--divider-color);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .1s all;
}

.searchIcn {
    position: relative;
    top: 2px;
    right: 26px;
    color: var(--third-text);
    font-size: 18px;
}

@media (max-width: 360px) {
    .searchInput {
        width: 100%;
    }

    .autocomplete {
        width: 100%;
    }

    .searchIcn {
        display: none;
    }
}