.Main {
    padding-top: 20px;
}

.Title {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
}

@media (max-width: 576px) {
    .Title {
        /* Переписывается стиль библиотеки ant design */
        font-size: 30px!important;
    }
}