body {
    margin: 0;
    min-width: 320px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Добавляю адаптив для календаря выбора дат из библиотеки ant design */

.ant-picker-panel-container {
    left: 4%;
}

.ant-picker-panels {
    display: flex;
    flex-direction: column;
}

.ant-calendar-range {
    width: 300px;
}

.ant-picker-panel {
    width: 100%;
}

@media (min-width: 600px) {
    .ant-picker-panels {
        flex-direction: row;
    }

    .ant-calendar-range {
        width: 552px;
    }

    .ant-picker-panel {
        width: 50%;
    }
}

/* Конец блока адаптива для календаря ant design */